/* Variables générales */
:root {
	--font-principal : 'Roboto', sans-serif;
	--font-title :	   'Roboto', sans-serif;

	--color-1 :		 #73e8ff;
	--color-2 :		 #29b6f6;
	--color-3 :      #0086c3;
	--color-4 :		 #383941;
	--color-5 :		 #6b6c77;
	--color-rep-true:  #0086c3;
	--color-rep-false: rgb(206, 27, 27);

	
	--size-text :		1rem;
	--size-title : 		1.875rem;

	--cursor : url('img/pointer.png'),pointer;
}

body{
	font-family: var(--font-principal);
	font-weight: 400;
	margin: 0;
}
.container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.font_principal{
	font-family: var(--font-principal);
	font-weight: 400;
}
.font_title{
	font-family: var(--font-title);
	font-weight: 700;
}
.color_title{
    color: var(--color-3);
}
.color-text{
	color: var(--color-4);
}
span{
	font-family: var(--font-principal);
	font-weight: 300;
}
.margin-bottom{
	margin-bottom: 1rem;
}

/* Menu */

ul{
    background-color: var(--color-3);
    width : 100%;
    height: 3rem;
	font-family: var(--font-title);
	padding-left: 0;
}

a{  
    text-decoration: none; 
    color: white;
}
a:hover{
	color: var(--color-1);
}

li{
    list-style: none;
}
/* flex */
.flex{
    display: flex;
}
.flex_wrap{
	flex-wrap: wrap;
}
.align_center{
    align-items: center;
}
.between{
	justify-content: space-between;
}
.around{
    justify-content: space-around;
}

.text_center{
    text-align: center;
}

h1{
	text-transform: uppercase;
}
.line-height-text{
	line-height: 1.5rem;
}
.size-div{
	width: 25%;
}

/* button */
.styled {
    border: 0;
	height: 2rem;
	width: 5rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 8px;
	background-color: var(--color-4);
	font-family: var(--font-title);
	font-size : var(--size-text);
}
.styled:hover{
	background-color: var(--color-5);
}

/* liste déroulante */
.select-styled{
	background-color: var(--color-4);
	border-radius: 8px;
	border: none;
    height: 2rem;
	width: 6rem;
	font-family: var(--font-title);
	font-size : var(--size-text);
	color: white;
}
.select-styled:hover{
	background-color: var(--color-5);
}
input::placeholder{
	color: rgb(182, 179, 179);
	font-family: var(--font-principal);
}

/* placeholder styled */
.placeholder-styled{
	border: 0;
	height: 1.5rem;
	width: 6rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 8px;
	background-color: var(--color-4);
	font-family: var(--font-title);
	font-size : var(--size-text);
}

#ckeckstyle{
	border: 3px solid red;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0.2em;
	border: 1px solid var(--color-3);


}


/* Color reponse true and false */
.color-rep-false{
	color: var(--color-rep-false);
}
.color-rep-true{
	color: var(--color-rep-true);
}

/* RESPONSIVE */

/* media queries pour tablette avec un minimum de 992px de largeur */
@media only screen and (max-width:1178px) {

	header > div{
			flex-direction: column;
		}
		
	/* button menu burger */
	#button_menu { 
		display:block;
		position :fixed; 
		top : 1rem; 
		right :1rem; 
		z-index :50;
		padding: 0.625rem 0.8125rem; 
		color: var(--color-1);
		background-color: var(--color-3);
		border-radius:0.3125rem;
		cursor:var(--cursor);
	}
	#button_menu:hover {	
		background: var(--color-1); 
		color: var(--color-3);
	}

	/* Menu  ***********/
	ul{
		background-color: var(--color-3);
		width : 100%;
		height: 25%;
		font-family: var(--font-title);
		font-weight: 700;
		padding-left: 0;
		line-height: 1.75rem;
		letter-spacing: 3%;
		position: relative;
	}
	
	a{  
		text-decoration: none; 
		color: white;
	}
	a:hover{
		color: var(--color-1);
	}

	#lemenu{
		position: fixed;
		right :1rem;
		top: 6rem;
		width: 100%; 
	}
	#lemenu > ul{
		flex-direction:column;
		flex-wrap: nowrap;
		margin: 4rem 0;
		border-radius: 0.3125rem;
		padding: 0.5rem 1.25rem;
	}
	#lemenu a{
		border-top: none;
		text-transform: uppercase;
		margin-left: 0;
		padding-top: 0;
	}
	#lemenu li a{
		margin-bottom: 0.3rem;
		text-align: right;
	}
	#lemenu > a:hover {	
		color:var(--color-secondary);
	}
	
 
}

/* media queries pour tablette avec un minimum de 649px de largeur */
@media only screen and (max-width:649px) {
	#lemenu{
		top: 7.5rem;
	}
	#button_menu { 
		top : 1rem; 
	}

	
	/* placeholder styled */

	.size-div{
		width: 55%;
	}
}